TELEGRAM_TOKEN=...        # ton token
OWNER_ID=...              # ton ID Telegram
PORT=8443                 # ou 10000 selon Render
ACCESS_PASSWORD=monPass   # mot de passe d’entrée (laisser vide pour désactiver)
USE_WEBHOOK=True          # True pour webhook / False pour polling
WEBHOOK_URL=https://exemple.com  # domaine/public URL sans slash final
